html {
    background-color: #fafafa;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

.top {
    text-align: center;
    font-family: 'Tahoma';
    font-size: 52px;
    color: #111;
    margin: 0 auto;
}

#block {
    margin: 0 auto;
}

#bottomimg {
    position: fixed;
    bottom: 0px;
    right: -50px;
    z-index: -1;
}

.button {
    padding-top: 6px;
    margin-right: 3px;
    display: inline-block;
    background-color: #fafafa;
    color: #111;
    width: 10.5%;
        min-width: 160px;
    height: 120px;
    margin-top: 5px;
    transition: background-color 0.2s, box-shadow 0.5s;
}

.button:hover {
    color: #111;
}

.blue {
    border-bottom: solid 2px #705CFF;
}

.blue:hover {
    background-color: #705CFF;
    box-shadow: 0px 0px 5px #111;
}

.red {
    border-bottom: solid 2px #F74F48;
}

.red:hover {
    background-color: #F74F48;
    box-shadow: 0px 0px 5px #111;
}

.txt {
    display: table;
    font-size: 42px;
    width: 100%;
    height: 100%;
    font-family: 'Tahoma';
    text-align: center;
}

.btntxt {
    display: table-cell;
    vertical-align: middle;
    margin-bottom: 2px;
    margin: 0;
}

.links {
    font-size: 0;
}

#searcharea {
    display: inline-block;
    width: 750px;
    margin-top: 5px;
}

.googlebox {
    width: 170px;
    padding: 15px;
    display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5px;
    font-family: 'Tahoma';
    font-size: 24px;
    color: #555;
    background-color: #fafafa;
    border-style: none;
    transition: width 1s, box-shadow 2s, color 0.5s;
}

.googlebox:focus {
    color: #111;
    width: 500px;
    box-shadow: 0px 0px 2px #111;
}